{% extends "base.html" %}

{% block body_content %}
<div class="container">

  <div class="row justify-content-center">
    <!-- kolumna ograniczająca szerokość -->
    <div class="col-12 col-md-8 col-lg-6">

      <h1 class="h2 mb-4 text-center">Create Offer</h1>

      <form action="{{ url_for('create_offer') }}" method="POST">

        <!-- BRAND -->
        <div class="mb-3">
          <label for="brand" class="form-label">Brand</label>
          <select id="brand" name="brand" class="form-select" required>
            {% for brand in offer.brands %}
              <option value="{{ brand.code }}">{{ brand.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- PRICE -->
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number"
                 class="form-control"
                 id="price"
                 name="price"
                 value="25000">
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>

      </form>

    </div>
  </div>

</div>
{% endblock %}