{% extends "base.html" %}


{% block body_content %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
        <tr>
            <th scope="row">{{ offer.id }}</th>
            <td>{{ offer.brand }}</td>
            <td>{{ "{:,.2f}".format(offer.price) }}</td>
            <td>
                <a href="#" class="btn btn-primary btn-sm" role="button">View</a>
                <a href="#" class="btn btn-success btn-sm" role="button">Edit</a>
<!--                <a href="#" class="btn btn-danger btn-sm" role="button">Delete</a>-->
                <a type="button" class="btn btn-danger btn-sm delete-confirm">Delete</a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}