{% extends "base.html" %}


{% block body_content %}
<!-- Modal -->
<div class="modal fade"
     id="confirmDeleteModal"
     tabindex="-1"
     aria-labelledby="confirmDeleteLabel"
     aria-describedby="confirmDeleteDesc"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">
                    Confirm delete
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body" id="confirmDeleteDesc">
                Are you sure?
            </div>

            <div class="modal-footer">
                <form method="POST" id="confirmDeleteForm">

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>

                    <button type="submit"
                            class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const modal = document.getElementById("confirmDeleteModal");
        const body = modal.querySelector("#confirmDeleteDesc");
        const form = modal.querySelector("#confirmDeleteForm");

        modal.addEventListener("show.bs.modal", event => {
            const button = event.relatedTarget;
            body.textContent = button.dataset.desc;
            form.action = button.dataset.url;
        });
    });
</script>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Is Active</th>
            <th scope="col">Is Admin</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>

                <a href="{{ url_for('edit_user', user_name=user.name) }}"
                   class="btn btn-success btn-sm" role="button">Edit</a>

                <button type="button" class="btn btn-danger btn-sm delete-confirm"
                    data-bs-toggle="modal"
                        data-bs-target="#confirmDeleteModal"
                        data-desc="Delete user {{ user.name }}?"
                    data-url="{{ url_for('delete_user', user_name=user.name) }}">
                    Delete
                </button>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}